.amarelo {
	color: #e6db74;
}

.azul {
	color: #66D9EF;
}

.branco {
	color: #eee;
}

.rosa {
	color: #F92672;
}

.verde {
	color: #A6E22E;
}

.roxo {
	color: #936cd8;
}

.laranja {
	color: #FD971F;
}

.cinza {
	color: #272822;
}

.italico {
	font-style: italic;
}